@model Library.Domain.Models.Books.EditBookModel

@{
    ViewData["Title"] = "EditTask";
}

<div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Изменить</h3>
        </div>
        <div class="panel-body">
            <form asp-action="EditBook" asp-controller="Books" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div>
                    <input type="hidden" value="@Model.Id" name="bookId" class="form-control" />
                    <div class="form-group">
                        <label asp-for="Name">Введите название</label>
                        <input type="text" class="form-control" asp-for="Name" />
                        <span asp-validation-for="Name" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Author">Введите автора</label>
                        <input type="text" class="form-control" asp-for="Author" />
                        <span asp-validation-for="Author" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Genre">Введите жанр</label>
                        <input type="text" class="form-control" asp-for="Genre" />
                        <span asp-validation-for="Genre" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Publisher">Введите издательство</label>
                        <input type="text" class="form-control" asp-for="Publisher" />
                        <span asp-validation-for="Publisher" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Введите описание</label>
                        <textarea type="text" class="form-control" asp-for="Description"></textarea>
                        <span asp-validation-for="Description" />
                    </div>
                    <div>
                        <input type="submit" value="Готово" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

