@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    
    <form method="get" asp-controller="Books" asp-action="BooksList">
        <input type="submit" value="Библиотека" />
    </form>

    <form method="get" asp-controller="Users" asp-action="Index">
        <input type="submit" value="Список пользователей" />
    </form>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}